<?xml version="1.0" ?>
<config>
    <modules>
        <Flagbit_Monitoring>
            <version>0.0.2</version>
        </Flagbit_Monitoring>
    </modules>
    <global>
        <helpers>
            <flagbit_monitoring>
                <class>Flagbit_Monitoring_Helper</class>
            </flagbit_monitoring>
        </helpers>
        <models>
            <flagbit_monitoring>
                <class>Flagbit_Monitoring_Model</class>
            </flagbit_monitoring>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <flagbit_monitoring>
                        <type>Singleton</type>
                        <class>Flagbit_Monitoring_Model_Observer</class>
                        <method>registerShutdown</method>
                    </flagbit_monitoring>
                </observers>
            </controller_front_init_before>
        </events>
        <log>
            <core>
                <writer_model>Flagbit_Monitoring_Model_Log</writer_model><!-- Mage::log() Hook -->
                <writer_models>
                    <!-- Hackathon_Logger -->
                    <flagbit_monitoring>
                        <label>Flagbit_Monitoring</label>
                        <class>Flagbit_Monitoring_Model_Log</class>
                    </flagbit_monitoring>
                </writer_models>
            </core>
        </log>
    </global>
    <default>
        <dev>
            <flagbit_monitoring>
                <enabled>0</enabled>
                <zabbix_server></zabbix_server>
                <port>10051</port>
                <host></host>
            </flagbit_monitoring>
            <flagbit_monitoring_mapping>
                <report>magento.report</report>
                <exception>magento.exception</exception>
                <error>magento.e_error</error>
                <recoverable_error>magento.e_recoverable_error</recoverable_error>
                <parse_error>magento.e_parse_error</parse_error>
            </flagbit_monitoring_mapping>
            <flagbit_monitoring_dataflow>
                <interval>25</interval>
            </flagbit_monitoring_dataflow>
        </dev>
    </default>
    <crontab>
        <jobs>
            <flagbit_monitoring>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>flagbit_monitoring/observer::reportscanner</model>
                </run>
            </flagbit_monitoring>
        </jobs>
    </crontab>
    <flagbit_monitoring>
        <identifers>
            <REPORT>
                <mapping>
                    <config>dev/flagbit_monitoring_mapping/report</config>
                </mapping>
            </REPORT>
            <EXCEPTION>
                <mapping>
                    <config>dev/flagbit_monitoring_mapping/exception</config>
                </mapping>
            </EXCEPTION>
            <E_ERROR>
                <mapping>
                    <config>dev/flagbit_monitoring_mapping/error</config>
                </mapping>
            </E_ERROR>
            <E_RECOVERABLE_ERROR>
                <mapping>
                    <config>dev/flagbit_monitoring_mapping/recoverable_error</config>
                </mapping>
            </E_RECOVERABLE_ERROR>
            <E_PARSE>
                <mapping>
                    <config>dev/flagbit_monitoring_mapping/parse_error</config>
                </mapping>
            </E_PARSE>
            <DEFAULT>
                <mapping>
                    <value>unknown</value>
                </mapping>
            </DEFAULT>
        </identifers>
    </flagbit_monitoring>
</config>