<?xml version="1.0" ?>
<config>
    <modules>
        <Flagbit_Monitoring>
            <version>0.0.2</version>
        </Flagbit_Monitoring>
    </modules>
    <global>
        <helpers>
            <flagbit_monitoring>
                <class>Flagbit_Monitoring_Helper</class>
            </flagbit_monitoring>
        </helpers>
        <models>
            <flagbit_monitoring>
                <class>Flagbit_Monitoring_Model</class>
            </flagbit_monitoring>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <flagbit_monitoring>
                        <type>Singleton</type>
                        <class>Flagbit_Monitoring_Model_Observer</class>
                        <method>registerShutdown</method>
                    </flagbit_monitoring>
                </observers>
            </controller_front_init_before>
        </events>
        <log>
            <core>
                <writer_model>Flagbit_Monitoring_Model_Log</writer_model><!-- Mage::log() Hook -->
                <writer_models>
                    <!-- Hackathon_Logger -->
                    <flagbit_monitoring>
                        <label>Flagbit_Monitoring</label>
                        <class>Flagbit_Monitoring_Model_Log</class>
                    </flagbit_monitoring>
                </writer_models>
            </core>
        </log>
    </global>
    <dev>
        <flagbit_monitoring>
            <enabled></enabled>
            <zabbix_server></zabbix_server>
            <port></port>
            <host></host>
        </flagbit_monitoring>
        <flagbit_monitoring_mapping>
            <report>REPORT</report>
            <exception>EXCEPTION</exception>
            <error>E_ERROR</error>
            <recoverable_error>E_RECOVERABLE_ERROR</recoverable_error>
            <parse_error>E_PARSE</parse_error>
        </flagbit_monitoring_mapping>
    </dev>
    <crontab>
        <jobs>
            <flagbit_monitoring>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>flagbit_monitoring/observer::reportscanner</model>
                </run>
            </flagbit_monitoring>
        </jobs>
    </crontab>
</config>